:root {
    /* colors */
    --main-color: #4b5320;
    --secondary-color: #d6a559;  

    /* burger/menu */
    --burger-width: 46px;
    --burger-line-height: 2.4px;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* landing animation */

/* .landing-image{
    z-index: 10000;
    aspect-ratio: 1;
    width: var(--M-logo-size);

    position: fixed;
    top:calc(50vh);
    left:calc(50vw);
    
    background-color: rgba(75, 83, 32,.8);
    box-shadow: 0 0 0px 100vmax rgba(75, 83, 32,.8);
} */

body {
    overflow-x: hidden;
}


/* maison logo */
.maison-logo{
    /* resizing to smaller image */
    
    width: auto;
    height: max(10vh, 3.5rem);
}

/* navbar styling */

.navbar {
    /* general */
    z-index: 900;
    padding: 3vh min(5vw, 3rem) 0;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 8vh;
}

.nav--links{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;   
    width: 100%;
    background-color: rgba(75, 83, 32,.9);
    display: flex;
    flex-direction: column;
    padding-top: 25vh;
    gap: 4em;
    align-items: center;
    backdrop-filter: blur(1.5px);
    transition: all 0.5s ease;
}

/* moves the menu on click */
.nav--links[data-visibility="visible"]{
    transform: translateX(0%);
}

.nav--links[data-visibility="hidden"]{
    transform: translateX(100%);
}

@keyframes navLinkItemsFade {
    from {
        opacity: 0;
        transform: translateX(3rem);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


.nav--links > li {
    list-style: none;
}

.nav--links > li > a {
    /* display: none; */
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: var(--secondary-color);
}

/* menu/burger */

.nav--toggle{  
    cursor: pointer;
    z-index: 1000;
    border: 0;
    background: 0;
    width: var(--burger-width);
    aspect-ratio: 1;
    /* border: 1px red solid; */
    transition: 0.3s ease;
    
    /* burger aligning */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* menu lines */
.nav--toggle > div{
    
    display: block;
    width: 100%;
    height: var(--burger-line-height);
    background-color: var(--secondary-color);

    transition: all 0.2s ease;
}

/* line to x animation */

.lineToggle .line1{
    transform: rotate(45deg)
    translateY(calc(0.2*var(--burger-width)))
    translateX(calc(0.15*var(--burger-width))); 
}
.lineToggle .line2{
    opacity: 0;
}
.lineToggle .line3{
    transform: rotate(-45deg)
    translateY(calc(-0.2*var(--burger-width)))
    translateX(calc(0.15*var(--burger-width)));
    
}