/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

/* fonts */
@font-face {
    font-family: "Bigilla";
    src: url(./fonts/Bigilla.otf);
    font-weight: normal;
}

@font-face {
    font-family: "Bigilla";
    src: url(./fonts/Bigilla-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: "Moniqa";
    src: url(./fonts/Moniqa-BlackDisplay.otf);
    font-weight: bold;
}

@font-face {
    font-family: "Moniqa";
    src: url(./fonts/Moniqa-SemiBoldDisplay.otf);
    font-weight: normal;
}

@font-face {
    font-family: "Moniqa Heading";
    src: url(./fonts/Moniqa-BlackNarrowHeading.otf);
    font-weight: normal;
}

:root {
    /* colors */
    --main-color: #4b5320;
    --secondary-color: #d6a559;  

    /* burger/menu */
    --burger-width: 30px;
    --burger-line-height: 3px; 
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* outline: 1px solid red; */
}

/* GENERAL CLASSES */
.flex-column{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.fixed-position{
    position: fixed;
}

body {
    overflow-x: hidden;
    background-color: var(--main-color);
}

/* ICONS */
.pc-icon{
    width: 25px;
    height: auto;
}

#icons-container{
    z-index: 900;
    border: 3px solid var(--secondary-color);
    border-radius: 14px;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: fixed;
    padding-inline: 0.5rem;
    width: 80vw;
    bottom: 1rem;  
    left:50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.vertical-line{
    position: relative;
    display: inline-block;
    border-left: 3px solid var(--secondary-color);
    
    height: 3rem;
}

.phone-icons{
    height: 24px;
    width: auto;
}


/* main grid container setting */
.grid-container{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 10vh;
    -ms-grid-rows: auto 10vh auto 10vh auto;
        grid-template-areas: 
    "header"
    "content"
    "footer";
}

/* header container includes navbar bg video and image */
.header-stack{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* video background */
.video-bg{
    /* general */
    z-index: -100;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute;
    width: 100vw;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
}

/* aspect ratio for video */
@media (min-aspect-ratio: 16/9){
    .video-bg{
        width: 100vw;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .video-bg{
        width: auto;
        height: 100%;
    }
}

/* disable video bg on mobile  */
@media only screen and (max-width: 767px) {
    .video-bg{
        display: none;
    }
    .header-stack{
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(75, 83, 32, 0.5)), to(rgba(75, 83, 32, 0.5))),
        url(./images/photos/temp-image-1.jpg);
        background-image: linear-gradient(rgba(75, 83, 32, 0.5), rgba(75, 83, 32, 0.5)),
        url(./images/photos/temp-image-1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
/* navbar styling */

.navbar {
    /* general */
    z-index: 999;
    background: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-inline: 2rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 10vh;
    width: 100%;
}

/* maison logo */
.maison-logo{
    /* resizing to smaller image */
    width: auto;
    height: max(6rem, 8vw);
}

/* for phones */
.nav--links{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;   
    width: 100%;
    background-color: rgba(75, 83, 32,.9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 25vh;
    gap: 4em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-backdrop-filter: blur(1.5px);
            backdrop-filter: blur(1.5px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow-x: hidden;
}

.language-link{
    text-decoration: none;
    font-weight: 200;
    color: var(--secondary-color);
}  

.languages{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    gap: 1rem;
}

#language-logo-container{
    position: fixed;
    bottom: 20vh;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 12vh;
}

#maison-logo-small{
    width: 3rem;
    height: auto;
}

/* not visible for phones */
.pc-visible{
    display: none;
}
.phone-visible{
    display: inherit;
}

/* for pc screen navbar*/
@media only screen and (min-width: 767px) {
    #icons-container{
        border: none;
    }

    .pc-visible{
        display: inherit;
    }
    .phone-visible{
        display: none;
    }

    .navbar{
        -webkit-box-pack: unset;
            -ms-flex-pack: unset;
                justify-content: unset;
    } 

    .languages{
        display: inherit;
        
    } 
    #languages-pc{
        position: fixed;
        left: 4rem;
        top: 4rem;
    }

   .maison-logo{
        position: fixed;
        left: 50%;
        top: 1.2rem;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
   }

    .nav--links{
        all: unset;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        position: fixed;
        right: 15rem;
        top: 4rem;
        gap: 2em;
    }
   
    .nav--toggle > div{
        display: none;
    }

    /* hover effect */
    .nav--links > li > a{
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }

    .nav--links > li > a:hover{
        color: white;
    } 

    .languages > a{
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }

    .languages > a:hover{
        color: white;
    } 
}

/* moves the menu on click */
.nav--links[data-visibility="visible"]{
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
}

.nav--links[data-visibility="hidden"]{
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    
}

@-webkit-keyframes navLinkItemsFade {
    from {
        opacity: 0;
        -webkit-transform: translateX(50px);
                transform: translateX(50px);
    }
    to{
        opacity: 1;
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}

@keyframes navLinkItemsFade {
    from {
        opacity: 0;
        -webkit-transform: translateX(50px);
                transform: translateX(50px);
    }
    to{
        opacity: 1;
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}


.nav--links > li {
    z-index: 1000;
    list-style: none;
}

.nav--links > li > a {
    text-decoration: none;
    font-weight: 200;
    text-transform: uppercase;
    color: var(--secondary-color);  
}

/* menu/burger */
.nav--toggle{  
    cursor: pointer;
    z-index: 1000;
    border: 0;
    background: 0;
    display: block;
}

/* menu lines */
.nav--toggle > div{
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    width: var(--burger-width);
    height: var(--burger-line-height);
    background-color: var(--secondary-color);
    margin: calc(0.2*var(--burger-width));
}


/* line to x animation */
.lineToggle .line1{
    -webkit-transform: rotate(45deg) 
    
    translateX(calc(var(--burger-width)*0.24))
    translateY(calc(var(--burger-line-height)*1.8));
            transform: rotate(45deg) 
    
    translateX(calc(var(--burger-width)*0.24))
    translateY(calc(var(--burger-line-height)*1.8)); 
}
.lineToggle .line2{
    opacity: 0;
}
.lineToggle .line3{
    -webkit-transform: rotate(-45deg)

    translateX(calc((var(--burger-width)*0.24)))
    translateY(calc(-1.82*var(--burger-line-height)));
            transform: rotate(-45deg)

    translateX(calc((var(--burger-width)*0.24)))
    translateY(calc(-1.82*var(--burger-line-height)));  
}

/* content / text / main body */
.content-container{
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: content;
}

/* grid for images and text */
.img-text-container{
    margin-bottom: 3rem;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
        grid-template-areas: 
    "item1 item2";
}

.image-responsive{
    width: 40vw;
}
#img1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: item1;
}
#img2{
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: item2;
}

/* for text sizes use clamp! ------------------------------------------------------------- !*/
.text-container{
    width: 40vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: white;
}
.text-container > h1{
    text-transform: uppercase;
    font-family: Moniqa Heading;
    letter-spacing: 0.5rem;
}
.text-container > p{
    text-align: center;
}
#text1{
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: item2;
}
#text2{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: item1;
}

.text-over-image{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    background-size: cover;
}

.text-over-image > a {
    text-decoration: none;
    color: white;
}

#drink-menu{
    height: 45vh;
    /* background-color: #d6a559; */
    background-image: url(./images/photos/temp-image-4.jpg);
    
}

/* for mobile layout */
@media only screen and (max-width: 767px) {
    .img-text-container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 2rem;
    }

    .image-responsive{
        width: 100%;
        /* height: 30vh; */
        /* object-fit: cover; */
        /* background-size: cover; */
    }
    
    .text-container{
        width: 80%;
    }

    #drink-menu{
        height: 20vh;
        text-align: center;
    }
    #drink-menu > a{
        font-size: 1.4rem;
    }
}

/* small social icons fixed position left down */
.socials{
    position: fixed;
    bottom: 3rem;
    left: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
}

.footer-grid{
    -ms-grid-row: 5;
        grid-row:5;
    -ms-grid-column: 1;
        grid-column: 1;
    grid-area: footer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10rem;
}
.footer-grid > div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 12rem;
    height: 12rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    color: var(--secondary-color);
}

/* for mobile layout */
@media only screen and (max-width: 767px) {
    .footer-grid{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 4rem;
    }
    #contact{
        display: none;
    }
}
