/* fonts */
@font-face {
    font-family: "Bigilla";
    src: url(./fonts/Bigilla.otf);
    font-weight: normal;
}

@font-face {
    font-family: "Bigilla";
    src: url(./fonts/Bigilla-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: "Moniqa";
    src: url(./fonts/Moniqa-BlackDisplay.otf);
    font-weight: bold;
}

@font-face {
    font-family: "Moniqa";
    src: url(./fonts/Moniqa-SemiBoldDisplay.otf);
    font-weight: normal;
}

:root {
    /* colors */
    --main-color: #4b5320;
    --secondary-color: #d6a559;  

    /* burger/menu */
    --burger-width: 46px;
    --burger-line-height: 4px;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    overflow-x: hidden;
    background-color: var(--main-color);
}

/* main grid container setting */
.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10vh;
    grid-template-areas: 
    "header"
    "content"
    "footer";
}

/* header container includes navbar bg video and image */
.header-stack{
    grid-area: header;
    position: relative;
    height: 100vh;
    width: 100vw;
}

/* video background */
.video-bg{
    /* general */
    z-index: -100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/* aspect ratio for video */
@media (min-aspect-ratio: 16/9){
    .video-bg{
        width: 100vw;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .video-bg{
        width: auto;
        height: 100%;
    }
}

/* disable video bg on mobile  */
@media only screen and (max-width: 767px) {
    .video-bg{
        display: none;
    }
    .header-stack{
        background-image: linear-gradient(rgba(75, 83, 32, 0.5), rgba(75, 83, 32, 0.5)), url(../images/temp-image-1.jpg) ;
        background-repeat: no-repeat;
        background-position: center top;
        object-fit: cover;
    }
}
/* navbar styling */

.navbar {
    /* general */
    z-index: 900;
    background: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2rem;
    height: 15vh;
    width: 100%;
}

/* maison logo */
.maison-logo{
    /* resizing to smaller image */
    width: auto;
    height: max(6rem, 8vw);
}

/* for phones */
.nav--links{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;   
    width: 100%;
    background-color: rgba(75, 83, 32,.9);
    display: flex;
    flex-direction: column;
    padding-top: 25vh;
    gap: 4em;
    align-items: center;
    backdrop-filter: blur(1.5px);
    transition: all 0.5s ease;
    overflow-x: hidden;
}

.languages > a{
        text-decoration: none;
        font-weight: 200;
        color: var(--secondary-color);
        margin-right: 0.5em;
    }

/* for pc screen navbar*/
@media only screen and (min-width: 1275px) {
    .navbar{
        justify-content: unset;
        position: relative;
    }

    .languages{
        position: absolute;
        left: 4rem;
        top: 4rem;
    }
        
   .maison-logo{
        position: absolute;
        left: 50%;
        top:1.2rem;
        transform: translateX(-50%);
   }

    .nav--links{
        all: unset;
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 15vw;
        top: 4rem;
        gap: 2em;
    }
   
    .nav--toggle > div{
        display: none;
    }

    /* hover effect */
    .nav--links > li > a{
        transition: 0.3s ease;
    }

    .nav--links > li > a:hover{
        color: white;
    } 

    .languages > a{
        transition: 0.3s ease;
    }

    .languages > a:hover{
        color: white;
    } 

                        /* lines inbetween |*/
    /* .nav--links > li:nth-child(1){
        padding-right: 0.5em;
        border-right: 1px solid var(--secondary-color);
    }
    .nav--links > li:nth-child(2){
        padding-right: 0.5em;
        border-right: 1px solid var(--secondary-color);
    }
    .nav--links > li:nth-child(3){
        padding-right: 0.5em;
        border-right: 1px solid var(--secondary-color);
    } */

}

/* moves the menu on click */
.nav--links[data-visibility="visible"]{
    transform: translateX(0%);
}

.nav--links[data-visibility="hidden"]{
    transform: translateX(100%);
    
}

@keyframes navLinkItemsFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


.nav--links > li {
    z-index: 1000;
    list-style: none;
}

.nav--links > li > a {
    text-decoration: none;
    font-weight: 200;
    text-transform: uppercase;
    color: var(--secondary-color);  
}

/* menu/burger */
.nav--toggle{  
    cursor: pointer;
    z-index: 1000;
    border: 0;
    background: 0;
    display: block;
}

/* menu lines */
.nav--toggle > div{
    transition: all 0.2s ease;
    width: var(--burger-width);
    height: var(--burger-line-height);
    background-color: var(--secondary-color);
    margin: calc(0.2*var(--burger-width));
}

/* line to x animation */
.lineToggle .line1{
    border: 0px solid red;
    transform: rotate(45deg) 
    translateX(10px)
    translateY(11px);
    /* 
    translateX(burgerwidth*0.2)
    translateY(line height*2); 
    */
}
.lineToggle .line2{
    opacity: 0;
}
.lineToggle .line3{
    border: 0px solid green;
    transform: rotate(-45deg)
    translateX(7px)
    translateY(-8px);
    /* 
    translateX(burgerwidth*0.2)
    translateY(-line height*2); 
    */
}

/* content / text / main body */
.content-container{
    grid-area: content;
    /* grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    row-gap: 1rem; */
    padding-inline: 2.5vw;
    /* grid-template-areas:
    "img1 . img2"
    "content content content"; */
}

/* grid for images */
.grid-container{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); */
}

.content-text{
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    text-align: center;
    color: var(--secondary-color);
}

/* text for pc */
@media only screen and (min-width: 768px) {
    .content-text{
        flex-direction: row;
        gap: 1rem;
        justify-content: space-around;
        align-items: center;
    }    
}

/* for text sizes use clamp! ------------------------------------------------------------- !*/

.content-text > p{
    width: 300px;
    height: auto;
}

.headline-text{
    font-family: "Moniqa";
    font-weight: bold;
    text-transform: uppercase;
}

/* images */
/* .img-responsive{
    width: 45vw;
    height: auto;
} */
/* .div-images{
    background-repeat: no-repeat;
    height: 500px;
    
}

#img1{
    background-image: url(./images/temp-image-2.jpg);
}

#img2{
    background-image: url(./images/temp-image-3.jpg);
} */

.footer{
    grid-area: footer;
}